.content-div {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  background: #f6f6fe;
  margin: 24px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
}

.button-create {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  border-color: #4e75ff;
}

.button-destroy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #ff4e4e;
  border-color: #ff4e4e;
}

.button-text {
  font-family: 'Montserrat', sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
